body {
    margin: 0;
}

#container {
    width: 100%;
    text-align: center;
    position: absolute;
    height: 100%;
}

.frame {
    height: 100%;
    display: inline-block;
    position: relative;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    /*account for display: inline-block;*/
    font-size: 0;
}

.helper {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

#cells {
    display: inline-block;
    vertical-align: middle;
}

#ghost-cells {
    display: inline-block;
    position: absolute;
}

.cell {
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    display: inline-block;
    opacity: 0;
    font-size: 14px;
    line-height: 100px;
    position: relative;
    box-sizing: border-box;
}

.ghost-cell {
    width: 100px;
    height: 100px;
    position: relative;
    opacity: .5;
    float: left;
    z-index: 3;
}

.cell img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#cell-0 {
    background-color: lightyellow;
}

#cell-1 {
    background-color: lightblue;
}

#cell-2 {
    background-color: lightgreen;
}

#cell-3 {
    background-color: lightpink;
}

#screen {
    background-color: #000000;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}