body {
    margin: 0;
}

#container {
    width: 280px;
    height: 280px;
    margin: 0 auto;
}

.cell {
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: lightgreen;
    float: left;
    opacity: 0;
}